@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.container{
    width: 60%;
    padding: 20px;
    left:auto;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 10px;
}

.mainTitle{
    font-size: xx-large;
    font-weight: 900;
    margin: 10px 0;
    font-family: "Google Sans";
}
.row{
    margin: 10px;
    font-weight: bold;
    font-size: large;
}
.labelText{
    font-family: "Google Sans";
    margin: 5px;
}
.selectVersion{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    display: block;
    border-radius: 5px;
}
.submitButton {
    background-color: #393e43;
    color: white;
    border-radius: 5px;
    display: block;
    margin: 35px auto 5px auto;
    padding: 5px 10px;
  }
.regionDev{
    width: 30%;
    margin: 5px;
    display: inline-block;
}
.selectRegion{
    width: 80%;
    margin: 3px 0px 3px auto;
    text-align: center;
    display: block;
    border-radius: 5px;
}
.radioGroup{
    display: block !important;
    padding-left: 20%;
}